/* Meyers Reset */
@import 'meyers-reset';

/* Font Imports */
@import 'fonts';

body {
    display: flex;
    height: 100vh;
}

em {
    font-style: italic;
}

#container-left {
    width: 45%;
    height: 100%;
    background-image: url(../assets/jeep.jpg);
    background-size: cover;
    background-position: center;

    #banner {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        width: 100%;
        background-color: #1A1914;
        opacity: 0.6;

        #logo{
            opacity: 1;
            color: white;
            font-size: 48px;
            font-family: 'note_thisregular';
        }

        img {
            height: 100px;
            width: 100px;
            opacity: 1;
        }
    }
}

#container-right {
    height: 100%;
    width: 65%;
}