/* Meyers Reset */
@import 'meyers-reset';

/* Font Imports */
@import 'fonts';

body {
    display: flex;
    height: 100vh;
}

em {
    font-style: italic;
}

#container-left {
    width: 45%;
    height: 100%;
    background-image: url(../assets/jeep.jpg);
    background-size: cover;
    background-position: center;

    #banner {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        width: 100%;
        background-color: #1A1914;
        opacity: 0.6;

        #logo{
            opacity: 1;
            color: white;
            font-size: 48px;
            font-family: 'note_thisregular';
        }

        img {
            height: 100px;
            width: 100px;
            opacity: 1;
        }
    }
}

#container-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 65%;
    background-color: #F9FAFB;

    & > div {
        flex: 1;
        padding: 40px;
    }

    #filler-text-container {
        font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 16px;
        letter-spacing: 0.2px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        #second-para {
            padding-top: 15px;
        }
    }

    #form-container {
        background-color: #FFFFFF;
        box-shadow: 1px 3px 5px rgba(0,0,0,0.2);

        & > h2 {
            padding-bottom: 10px;
        }

        & div {
            padding: 25px;
        }

        form {
            display: flex;
        }
    }

    #button-container {
        input {
            background-color: #2A2A25;
            border: none;
            border-radius: 5px;
            color: white;
            height: 40px;
            width: 120px;
            margin: 25px;
        }

        a {
            text-decoration: none;
            color: #2A2A25;
        }
    }
}