/* Meyers Reset */
@import 'meyers-reset';

/* Font Imports */
@import 'fonts';

body {
    display: flex;
    height: 100vh;
}

em {
    font-style: italic;
}

#container-left {
    border: 1px solid black;
    width: 45%;
    height: 100%;
    background-image: url(../assets/jeep.jpg);
    background-size: cover;
    background-position: center;

    #banner {
        display: flex;
        width: 100%;
        background-color: black;
        opacity: 0.5;

        #logo{
            opacity: 1;
            color: white;
        }

        img {
            height: 150px;
            width: 125px;
            opacity: 1;
        }
    }
}

#container-right {
    border: 1px solid green;
    height: 100%;
    width: 65%;
}